<% provide(:title, 'One Group') %>
<h1> one subject one location  </h1>


Subject   --  title 
<p>

<%= @subject.title %> -- <%= @location.title %>
<% 
@studygroups= @subject.studygroups &  @location.studygroups
%>

size of study groups = <%= @studygroups.length %> 
<p>

ROWS OF UNACTIVATED STUDY GROUPS
<% @studygroups.each do |sg| %>
<% if !( sg.activated  ) %>
<li>
  
 
    <%= sg.classtime.strftime("%H:%M") %> 
    <%= sg.day %> 

     studygroup size
    <span id=<%="ssg#{sg.id}"%>>
     <%= sg.choosestudygroups.count %>
    </span>



    <%= render 'joinsg_form',sg: sg if signed_in? %>

    

  
  
</li>
<%end%>

<%end%>
ROWS OF ACTIVATED STUDY GROUPS
<% @studygroups.each do |sg| %>
<% if ( sg.activated ) %>
<li>
  
 
    <%= sg.classtime.strftime("%H:%M") %> 
    <%= sg.day %> 

     studygroup size
    <span id=<%="ssg#{sg.id}"%>>
     <%= sg.choosestudygroups.count %>
    </span>



    <%= render 'joinsg_form',sg: sg if signed_in? %>

    

  
  
</li>
<%end%>

<%end%>


<%= form_for(@subject.studygroups.build(location_id: @location.id),
             ) do |f| %>
  <div><%= f.hidden_field :location_id %></div>
  <div><%= f.hidden_field :subject_id %></div>

<div class="styled-select">
  <%= f.time_select  :classtime ,:include_hours => true,:minute_step => 30,:ampm => true %>
</div>

  
  <%= f.select :day, [['Monday','Monday'],['Tue','Tuesday'],['Wed','Wedesday']] %>



  <%= f.submit "suggest time", class: "btn btn-large btn-primary" %>


<% end %>




