<% provide(:title, 'One Group') %>
<h1> one subject one location  </h1>


Subject   --  title 
<p>

<%= @subject.title %> -- <%= @location.title %>
<% 
@studygroups= @subject.studygroups &  @location.studygroups
%>

size of study groups = <%= @studygroups.length %> 
<p>

ROWS OF UNACTIVATED STUDY GROUPS
<% @studygroups.each do |sg| %>
<% if !( sg.activated  ) %>
<li>
  
 
    <%= sg.classtime.strftime("%H:%M") %> 
    <%= sg.day %> 

     studygroup size
    <span id=<%="ssg#{sg.id}"%>>
     <%= sg.choosestudygroups.count %>
    </span>



    <%= render 'joinsg_form',sg: sg if signed_in? %>

    

  
  
</li>
<%end%>

<%end%>
<h1 id="activatedgroup">
ROWS OF ACTIVATED STUDY GROUPS
</h1>


<% @studygroups.each do |sg| %>
<% if ( sg.activated ) %>
<li>
  <aside class="">

  
 
    <%= sg.classtime.strftime("%H:%M") %> 
    <%= sg.day %> 

     studygroup size
    <span id=<%="ssg#{sg.id}"%>>
     <%= sg.choosestudygroups.count %>
    </span>

    
      <% tp=sg.forum.sections.find_by_title("discussion",:first).topics.find_by_title("discussion",:first)%>


<div id=<%="topic#{tp.id}"%>>
    <%= render 'shared/topic',:tp=>tp %>
  </div>


    

    <%= form_for(tp.messages.build(user_id: current_user.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :user_id %></div>
  <div><%= f.hidden_field :topic_id %></div>

  <div  class="field"><%= f.text_area :content,:id => "message_area" %></div>


  <%= f.submit "post message", class: "btn btn-large btn-primary" %>

  



<% end %>


<%= render 'joinsg_form',sg: sg if signed_in? %>
    <%= link_to "show study group", sg %>


</aside>
</li>
<p>




   




    
    

  
  


<%end%>

<%end%>


<%= form_for(@subject.studygroups.build(location_id: @location.id,min: 2),
             ) do |f| %>
  <div><%= f.hidden_field :location_id %></div>
  <div><%= f.hidden_field :subject_id %></div>
  <div><%= f.hidden_field :min  %></div>

<div class="styled-select">
  <%= f.time_select  :classtime ,:include_hours => true,:minute_step => 30,:ampm => true %>
</div>

  
  <%= f.select :day, [['Monday','Monday'],['Tue','Tuesday'],['Wed','Wedesday']] %>



  <%= f.submit "suggest time", class: "btn btn-large btn-primary" %>


<% end %>




